@model GiftBundleFormVM

@{
    ViewData["Title"] = "Edit Gift Bundle";
}

<form asp-area="Admin" asp-controller="GiftBundles" asp-action="Edit" asp-route-id="@Model.Id" method="post" class="space-y-6">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <partial name="_Form" model="Model" />
</form>
