@model int

@if (Model > 0)
{
    <span class="absolute -top-1 -right-1 inline-flex items-center justify-center w-5 h-5 rounded-full bg-rose-gold text-white text-[10px] font-label-caps">@Model</span>
}
